
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.post-form {
  width: 30%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.btn-post {
  width:100%;
}

input {
  width:100%;
}

.register-form * {
  margin: 10px;
}

p {
  font-size: 1rem;
}

